In [2]:
import pandas as pd

In [6]:
df = pd.read_csv('placement.csv')

### Opening csv file from URL

In [7]:
import requests
from io import StringIO

In [8]:
url = 'https://raw.githubusercontent.com/cs109/2014_data/master/countries.csv'
req = requests.get(url)
data = StringIO(req.text)

pd.read_csv(data)

       Country         Region
0      Algeria         AFRICA
1       Angola         AFRICA
2        Benin         AFRICA
3     Botswana         AFRICA
4      Burkina         AFRICA
..         ...            ...
189   Paraguay  SOUTH AMERICA
190       Peru  SOUTH AMERICA
191   Suriname  SOUTH AMERICA
192    Uruguay  SOUTH AMERICA
193  Venezuela  SOUTH AMERICA

[194 rows x 2 columns]

In [ ]:
#Sep parameter
pd.read_csv('file.tsv', sep = '\t', names = ['sno', 'release_year', 'movies', 'genres'])

In [ ]:
#Index_col Parameter, to make particular column index, such as sno, or id
pd.read_csv('file.csv', index_col= 'enrollee_id')

In [ ]:
#Header parameter when pandas failed to read columns from csv file, and make cols another row
pd.read_csv('file.csv', header=1)

In [ ]:
#Use_cols parameter to show only particular columns
pd.read_csv('file.csv', usecols= ['gender', 'education_level'])

In [ ]:
#Squeeze parameters, it makes col series, instead of dataframe
pd.read_csv('file.csv', usecols=['enrollee_id'], squeeze = True)

In [ ]:
#Skiprows/nrows Parameter, when want to skip certain rows
#nrows when you want to see only those particular rows
pd.read_csv('file.csv', skiprows=[0,2])
pd.read_csv('file.csv', nrows=100)

In [ ]:
#Encoding parameter
pd.read_csv('file.csv', encoding='latin-1')

In [ ]:
#Skip bad lines
pd.read_csv('file.csv', encoding='latin-1', error_bad_lines = False, skip_blank_lines= True)

In [ ]:
#dtypes parameter
pd.read_csv('file.csv', dtype={'target':int})

In [ ]:
#Handling dates
pd.read_csv('excel.csv', parse_dates=['date'])

In [ ]:

def rename(name):
    if name == 'Royal Challengers Bangalore':
        return 'RCB'
    else: 
        return name

In [ ]:
rename('Royal Challengers Bangalore')

'RCB'

In [ ]:
#Convertors, want to do some transformation
pd.read_csv('file.csv', converters={'team1': rename} )

In [ ]:
#na_vale parameter, what other values want to consider nan, e.g., - "" these values we can define so that it would consider NaN
pd.read_csv('file.csv', na_values=['-', 'adf'] )

In [ ]:
#loading a huge dataset in chunks
dfs = pd.read_csv('file.csv', chunksize=5000)

In [ ]:
for chunks in dfs:
    print(chunks.shape)